<div class="page__container">
<!-- Welcome title -->
      <div class="intro__container main__intro">
        <header>
          <!--navigation to be rendered in from handlebars templates conditionally based upon login status -->
          <div class="intro main__intro">
            <!--Bootstrap dropstart component for user menu button-->
            <section class="icon__nav">
                <!--mobile navigation menu-->
                    <button class="btn btn-primary d-lg-none mobile-nav__button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"><i class="fa-solid fa-bars" style="color:5D38A0;"></i></button>
                    <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">somniary</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-header">
                        <ul class="mnav__list">
                            <li class="mnav__item about_btn"><i class="fa-solid fa-cloud nav__icon" style="color:FDF8FF;"></i>about</li>
                            <li class="mnav__item journal_btn"><i class="fa-solid fa-book nav__icon" style="color:5D38A0;"></i>journal</li>
                            <li class="mnav__item dreamlog_btn"><i class="fa-solid fa-plus nav__icon" style="color:5D38A0;"></i>new dream</li>
                            {{!-- <li class="mnav__item calendar_btn"><i class="fa-regular fa-calendar-days nav__icon" style="color:5D38A0;"></i>calendar</li> --}}
                            <li class="mnav__item collective_btn"><i class="fa-solid fa-star nav__icon" style="color:5D38A0;"></i>collective</li>
                        </ul>
                    </div>
                
                </div>
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user" style="color:5D38A0;"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button" id="settings_btn"><i class="fa-solid fa-gear" style="color:5D38A0;"></i> settings</button></li>
                        <li><button class="dropdown-item" type="button" id="darkmode_btn"><i class="fa-regular fa-moon" style="color:5D38A0;"></i> dark mode</button></li>
                        <li><button class="dropdown-item" type="button" id="logout_btn"><i class="fa-solid fa-arrow-right-from-bracket" style="color:5D38A0;"></i> sign out</button></li>
                    <!-- Dropdown menu links -->
                    </ul>
                </div>
            </section>
            <h1 class="page__title return_btn">somniary</h1>
            <nav>
                <ul class="nav__list hidden">
                    <li class="nav__item about_btn" id="about_btn"><i class="fa-solid fa-cloud nav__icon" style="color:FDF8FF;"></i> about</li>
                    <li class="nav__item journal_btn" id="journal_btn"><i class="fa-solid fa-book nav__icon" style="color:5D38A0;"></i> journal</li>
                    <li class="nav__item dreamlog_btn" id="dreamlog_btn"><i class="fa-solid fa-plus nav__icon" style="color:5D38A0;"></i> new dream</li>
                    {{!-- <li class="nav__item calendar_btn" id="calendar_btn"><i class="fa-regular fa-calendar-days nav__icon" style="color:5D38A0;"></i> calendar</li> --}}
                    <li class="nav__item collective_btn" id="collective_btn"><i class="fa-solid fa-star nav__icon" style="color:5D38A0;"></i> collective</li>
                </ul>
            </nav>
          </div>
        </header>
      </div>
      <!-- empty div to be filled with handlebars templates -->
       <div class="panel">
        <section class="homepage__container">
          <section class="journal-header__container">
            <h2 class="journal-header">your journal</h2>
            <h3 class="journal-subheader">view all of your dreams, laid out for you!</h3>
          </section>
          <section class="journal-dreams__container">
            {{#each dreams}}
            <section class="dream__card dream-j_card">
              <div class="dream__card-body">
                <p>{{format_date date}}</p>
                <p>{{title}}</p>
                <p>{{description}}</p>
                <!--tags, rendered with iteration-->
                <div class="dream__card-tags">
                    {{#each tags}}
                  <p class="dream__tag">{{name}}</p>
                  {{/each}}
                </div>
                <p class="dream__author">from {{user.username}}</p>

              </div>
              
            </section>
            {{/each}}
          </section>
        </section>
        <div class="footer">
          <footer>
                      <hr>
                      <h5 class="footer__title return_btn">somniary</h5>
                      <small>©2023 cat-scratch feev | © somniary</small>
                  </footer>
      </div>
  </div>
  <!--fontawesome import-->
  <script
  src="https://kit.fontawesome.com/d14b0991e4.js"
  crossorigin="anonymous"
></script>
<script src="./js/home.js"></script>
<script src="./js/theme.js"></script>